.App {
  text-align: center;
}
#main-heading{
  text-align: center;
  background-color: black;
  color: antiquewhite;
}

#search-bar{
  padding-right: 50px;
}
#search-button{
  padding-right: 100px;
}
.label{
  padding-right: 10px;
}
#main-content{
  margin: auto;
  width: 60%;
}